<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="homeWork03.Properties.Settings.bd_CountriesConnectionString"
            connectionString="Data Source=DESKTOP-FA4P8I0;Initial Catalog=bd_Countries;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>