<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<clear/>
		<add name ="bd_vegetables_fruit" providerName="System.Data.SqlClient" connectionString ="Server=DESKTOP-FA4P8I0;Database=bd_vegetables_fruit;Trusted_Connection=True;TrustServerCertificate=True" />
		
		<add name ="MyAccess" providerName="System.Data.OleDb" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\ADONET\ADO.NET\homeWork02\bd_vegetables_fruit.accdb;Persist Security Info=False;" />
	</connectionStrings>
	
</configuration>